    <p>This whole directory can be recursively downloaded using the following command:<br />
      <code>wget -r -np -nH -R "index.html*" "<!--# echo var="full_uri" encoding="url" -->"</code>
    </p>
  </body>
</html>
